@model IEnumerable<LojaVeiculos.Models.Veiculo>

@{
    Layout = null;
}

<table class="table table-sm small">

    <tr>
        <th>Id</th>
        <th>Marca</th>
        <th>Placa</th>
        <th>Chassi</th>
        <th>Cor</th>
        <th>Combustível</th>
        <th>Condição</th>
        <th></th>
    </tr>

    @foreach(var veiculo in Model)
    {
        <tr>
            <td>@veiculo.VeiculoId.ToString("000000")</td>
            <td>@veiculo.Marca</td>
            <td>@veiculo.Placa</td>
            <td>@veiculo.Chassi</td>
            <td>@(veiculo.CorId > 0 ? veiculo.Cor.Nome : "")</td>
            <td>@(veiculo.CombustivelId > 0 ? veiculo.Combustivel.Nome : "")</td>
            <td>@(veiculo.CondicaoId > 0 ? veiculo.Condicao.Nome : "")</td>
            <td><a href="/Veiculo?Id=@veiculo.VeiculoId" class="btn btn-outline-secondary btn-sm w-100">Editar</a></td>
        </tr>
    }

</table>
